/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-image: url('images/image.png');
background-repeat: no-repeat;
background-size: cover;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar Styles */
.navbar {
  background-color: #7c8b9b;
  color: white;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #1e4b7b;
  color: white;
}

tr:hover {
  background-color: #ace5f7;
}

/* Delete Link Styles */
a.delete-link {
  color: red;
  cursor: pointer;
}

a.delete-link:hover {
  text-decoration: underline;
}
button {
  background-color: #82b1e4;
  border: none;
  color: rgb(20, 19, 19);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #6990bb;
}
